<h1>My Questions</h1>

<%= link_to "â† Back to Sections", root_path, class: "back-link" %>
<%= link_to "New Question", new_question_path, class: "new-link" %>

<% if @questions.any? %>
  <div class="questions-list">
    <% @questions.each do |question| %>
      <div class="question-item">
        <%= link_to question.name, question_path(question) %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>You haven't created any questions yet.</p>
<% end %>