<h1>My Answers</h1>

<%= link_to "â† Back to Sections", root_path, class: "back-link" %>
<%= link_to "New Answer", new_answer_path, class: "new-link" %>

<% if @answers.any? %>
  <div class="answers-list">
    <% @answers.each do |answer| %>
      <div class="answer-item">
        <%= link_to "Answer to: #{answer.question.name}", answer_path(answer) %>
        <small> - <%= answer.created_at.strftime("%B %d, %Y") %></small>
      </div>
    <% end %>
  </div>
<% else %>
  <p>You haven't submitted any answers yet.</p>
<% end %>
